.form-row {
  display: flex;
  justify-content: center;
  margin: 0.5rem 1rem;
}

.form-spacing {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.button {
  color: white;
  padding: 20px 25px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 100px;
  cursor: pointer;
}

.button1 {
  background-color: #E8833A; 
  color: white; 
  border: none;
}

.button2 {
  background-color: #E8833A; 
  color: white; 
  border: none;
}

.button3 {
  background-color: #FFFFFF; 
  color: #E8833A; 
  border: 2px solid #E8833A;
  float: right;
}

.button:hover {
  background-color: #FFFFFF;
  border: 2px solid #E8833A;
  color: #E8833A;
}

.button3:hover {
  background-color: #E8833A;
  color: white;
}