.card-viewer-container{
  width: 84%;
  position: absolute;
  margin-left: 300px;
  top: 170px;
  bottom: -155px;
  border-top: 2px solid #9EADBA;
  border-left: 2px solid #9EADBA;
  background-color: #FFFFFF;
}

.add-card-button-modal {
  color: #E8833A;
  background-color: white;
  padding: 20px 25px;
  border: 1.5px solid #E8833A;
  transition-duration: 0.2s;
  border-radius: 4px;
  text-align: center;
  display: block;
  font-size: 24px;
  font-weight: 600;
  margin: 20px;
  float: right;
  cursor: pointer;
}

.add-card-button-modal:hover {
  background-color: #E8833A;
  color: white;
}

.prevBtn {
  background-color: #E8833A;
  transition-duration: 0.2s;
  border-radius: 4px;
  font-size: 24px;
  font-weight: 600;
  padding: 20px 25px;
  margin: 20px 50px 0px 580px;
  cursor: pointer;
  color: white; 
  border: none;
}

.prevBtn:hover {
  background-color: #FFFFFF;
  border: 2px solid #E8833A;
  color: #E8833A;
}

.nextBtn {
  background-color: #E8833A;
  transition-duration: 0.2s;
  border-radius: 4px;
  font-size: 24px;
  font-weight: 600;
  color: white; 
  margin: 80px;
  margin-left: 140px;
  padding: 20px 25px;
  cursor: pointer;
  border: none;
}

.nextBtn:hover {
  background-color: #FFFFFF;
  border: 2px solid #E8833A;
  color: #E8833A;
}




/* .form-row {
  display: flex;
  justify-content: center;
  margin: 0.5rem 1rem;
}

.form-spacing {
  margin-top: 1rem;
  margin-bottom: 3rem;
} */
