.flash-card {
  font-size: 50px;
  font-family: sans-serif;
  width: 900px;
  margin-left: 330px;
  margin-top: 200px;
  border: 2px solid #C3CFD9;
  background-color: #F2F5F7;
  cursor: pointer;
  user-select: none;
  height: 10em;
  position: relative;
}

.delete-icon {
  position: absolute;
  transform: translate(800px, 10px);
  font-size: px;
}

.edit-icon {
  position: absolute;
  transform: translate(0px, 10px);
  font-size: px;
}

.count-position {
  font-family: sans-serif;
  position: absolute;
  transform: translate(410px, 10px);
}

.span-text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}